.authContainer {
    width: 400px;
    height: 400px;
    vertical-align: middle;
    margin: auto;
    border: 1px solid grey;
    border-radius: 10px;
}

.authDiv {
    display: flex;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    flex-direction: column;
    margin: 50px;
}

