@font-face {
  font-family: "FiraCode";
  src: url(/public/fonts/FiraCode-VariableFont.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "FiraCode";
}

code {
  font-family: "FiraCode";
}
